{
    "smithy": "2.0",
    "shapes": {
        "search.api#ColumnDetails": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String"
                },
                "type": {
                    "target": "smithy.api#String"
                },
                "comment": {
                    "target": "smithy.api#String"
                }
            }
        },
        "search.api#ColumnLists": {
            "type": "list",
            "member": {
                "target": "search.api#ColumnDetails"
            }
        },
        "search.api#GetColumnNameSearch": {
            "type": "operation",
            "input": {
                "target": "search.api#SearchText"
            },
            "output": {
                "target": "search.api#SearchOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/search/column"
                }
            }
        },
        "search.api#GetTableDescriptionSearch": {
            "type": "operation",
            "input": {
                "target": "search.api#SearchText"
            },
            "output": {
                "target": "search.api#SearchOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/search/description"
                }
            }
        },
        "search.api#GetTableNameSearch": {
            "type": "operation",
            "input": {
                "target": "search.api#SearchText"
            },
            "output": {
                "target": "search.api#SearchOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/search/table"
                }
            }
        },
        "search.api#SearchOutput": {
            "type": "structure",
            "members": {
                "tableList": {
                    "target": "search.api#SearchResults"
                }
            }
        },
        "search.api#SearchResult": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String"
                },
                "description": {
                    "target": "smithy.api#String"
                },
                "columns": {
                    "target": "search.api#ColumnLists"
                }
            }
        },
        "search.api#SearchResults": {
            "type": "list",
            "member": {
                "target": "search.api#SearchResult"
            }
        },
        "search.api#SearchService": {
            "type": "service",
            "operations": [
                {
                    "target": "search.api#GetColumnNameSearch"
                },
                {
                    "target": "search.api#GetTableDescriptionSearch"
                },
                {
                    "target": "search.api#GetTableNameSearch"
                }
            ],
            "traits": {
                "aws.protocols#restJson1": {},
                "smithy.api#title": "Data Catalog Search"
            }
        },
        "search.api#SearchText": {
            "type": "structure",
            "members": {
                "searchText": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "searchText",
                        "smithy.api#required": {}
                    }
                }
            }
        }
    }
}
